<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{pageTitle}}</title>
	<meta charset="UTF-8">
	<meta description="Manga Fandom">
	<meta keyword="manga, manhva, anime, onepunchman, saitama">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="page">
        {{>header}}
		
		<main>
			<div class="content-container">
                {{>image}}

                {{{body}}}
			</div>
		</main>

        {{>footer}}
	</div>
</body>
</html>