<section class="paragraph links">
    <h2 id="links" class="sectionText">Links</h2>
    <ul>
        <li><a href="https://onepunchman.fandom.com/wiki/Genos" target="_blank">Genos</a></li>
        <li><a href="https://onepunchman.fandom.com/wiki/King" target="_blank">King</a></li>
        <li><a href="https://onepunchman.fandom.com/wiki/Garou" target="_blank">Garou</a></li>
    </ul>
</section>