@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
	font-family: Roboto;
}

h1, h2 {
	background-color: black;
	color: white;
	padding: 1vh 1vh 1vh 2vh;
	border-radius: 10px;
	margin: 0;
}

.image-container {
	margin: 20px;
}

.paragraph {
	margin-bottom: 20px;
}

p {
	margin: 1vh;
	font-weight: bold;
}

a {
	font-weight: bold;
	color: white;
}

a:visited {
	color: #F05C85;
}

header {
	background-color: black;
	color: white;
	padding: 1vh 4vh 1vh 2vh;
	border-radius: 10px;
}

header li {
	display: inline-block;
	margin-left: 10px;
}

header nav {
	text-align: right;
}

img {
	border: solid #C2C8CA 1px;
	border-radius: 4px;
}

footer {
	margin-top: 50px;
}